.signup{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #40926d;
    margin-top: 0%;
}
.card{
    margin: 7% 27% 2% 27%;
    padding: 5%;
    overflow-y: scroll;
    /* box-sizing: content-box; */
}
.left{
    float: left;
}
.right{
    float: right;
}
.btn{
    flex: 1;
    float: left;
    margin-top: 2%;
    width: 100%;
}
.timepickers{
    width: 200px;
}
.agree{
    display: inline-flex;
}