.signup{
    height: 100vh;
    background: #40926d;
    margin-top: 0%;
    overflow: hidden;
    /* align-items: center; */
}
.card{
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 10%;
    padding: 5%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.btn{
    float: left;
}